{% extends "layout.html" %}
{% block content %}

<div class="column tile is-vertical">
	<div id="hidden-data" class="hidden" loadAugment={{load_augment}} fileStem={{file_stem}}>
	</div>
	{% for name in names %}

		<div class="modal">
			<div class="modal-background"></div>
				<div class="modal-card">
				<header class="modal-card-head">
					<p class="modal-card-title">Augmentations</p>
					<button id="toggle-modal-cross" class="delete toggle-modal" aria-label="close"></button>
				</header>

				<section class="modal-card-body"></section>

				<footer class="modal-card-foot">
					<button id="toggle-modal-save" class="button is-success toggle-modal">Save</button>
				</footer>
			</div>
		</div>

		<div class="tile columns box has-background-info is-ancestor">

			<div class="tile column is-vertical is-1">
				<div class="tile columns">
					<div class="tile column is-vertical is-parent">
						<button type="button" id={{"reload-original-"~name}} class="tile button is-info is-rounded toggle-modal is-child" href="">
							<i class="fa fa-undo"></i>
						</button>

						<button id={{"button-backward-"~name}} class="tile button is-info is-rounded button-backward-wave is-child">
							<i class="fa fa-step-backward"></i>
						</button>

						<button id={{"button-"~name}} class="tile button is-info is-rounded button-play-wave is-child">
							<i class="fa fa-play"></i>
						</button>

						<button id={{"button-stop-"~name}} class="tile button is-info is-rounded button-stop-wave is-child">
							<i class="fa fa-stop"></i>
						</button>

						<button id={{"button-forward-"~name}} class="tile button is-info is-rounded button-forward-wave is-child">
							<i class="fa fa-step-forward"></i>
						</button>
					</div>

					<div class="tile is-vertical is-parent">
						<button type="button" id={{"toggle-modal-"~name}} class="tile button is-rounded toggle-modal is-info is-child" href="">
							<i class="fa fa-bars"></i>
						</button>
						<button type="button" id={{"download-"~name}} class="tile button is-rounded toggle-modal is-info is-child download-stem" href="">
							<i class="fa fa-download"></i>
						</button>
						<div class="tile column is-flex jty-ctr m-10 p-3 is-child">
							<input id={{"slider-"~name}} data-action="zoom" type="range" min="1" max="200" value="0" class="slider" orient="vertical"/>
						</div>
					</div>
				</div>

			</div>


			<div class="tile column is-vertical is-11 is-parent">
				<div class="tile is-block ctr-lbl is-child">{{name}}</div>
				<div id={{"waveform-"~name}} class="tile is-block waveform m-5 p-3 is-child" name={{name}} dir={{dir}}>
					<div class="progress progress-striped active" id={{"progress-bar-"~name}}>
						<progress class="progress is-small is-primary" max="100">15%</progress>
					</div>
				</div>
				<div id={{"wave-timeline-"~name}} class="tile is-block m-5 p-3 is-child"></div>
			</div>


		</div>


		<form role="form" id={{"form-"~name}} class="augment-form">

			<div class="tile is-vertical jty-ctr">
				<nav class="tile level" style="width: 50%;">
					<div class="level-left">
						<div class="level-item">
							<div class="field has-addons">
								<div class="columns">
									<label for={{"start-"~name}} class="column ctr-lbl">Start</label>
									<div class="column control is-4">
										<input class="input" id={{"start-"~name}} name={{"start-"~name}} />
									</div>

									<label for={{"end-"~name}} class="column ctr-lbl">End</label>
									<div class="column control is-4">
										<input class="input" id={{"end-"~name}} name={{"end-"~name}} />
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="level-right">
						<div class="level-item">
							<div class="field has-addons augment-input" id={{"augment-input-"~name}}>
								{% for aug in augment %}
									<div class="control">
										<button type="button" class="button is-info augment-radio" id={{aug.label.text~'-'~name}}>
											{{ aug.label }}
										</button>
									</div>
								{% endfor %}
								<div class="control">
									<button type="button" class="button is-primary" id={{"add-command-"~name}}>Add</button>
								</div>

								<div class="control">
									<button type="submit" class="button is-success">Save</button>
								</div>
							</div>
						</div>
					</div>
				</nav>

				<div class="tile augment-form-container">
					<nav class="level augment-form augment-form-nest-input vol-input form-visible" id={{"augment-vol-input-"~name}}>
						<div class="control level-item">
							<div class="subtitle is-5">Augment Volume</div>
						</div>
						<div class="control level-item">
							<input id={{"vol-input-slider-"~name}} data-action="zoom" type="range" min="0" max="100" value="100" style="width: 50%"/>
						</div>
					</nav>

					<nav class="level augment-form augment-form-nest-input cop-input" id={{"augment-cop-input-"~name}}>
						<div class="control level-item">
							<div class="subtitle is-5">Copy Section</div>
						</div>

						<div class="control level-item">
							<input class="field" id={{"cop-start-"~name}} name={{"cop-start-"~name}} placeholder="Start copy timestamp"/>
						</div>
					</nav>
				</div>
			</div>
		</form>

	{% endfor %}

	<div class="tile is-vertical jty-ctr">
		<div class="tile level" style="width:30%;">
			<button id="play-backward-all" class="level-item button is-link is-rounded">
				<i class="fa fa-step-backward"></i>
			</button>

			<button id="play-all" class="level-item button is-link is-rounded">
				<i class="fa fa-play"></i>
				<i class="fa fa-pause"></i>
			</button>

			<button id="stop-all" class="level-item button is-link is-rounded">
				<i class="fa fa-stop"></i>
			</button>

			<button id="play-forward-all" class="level-item button is-link is-rounded">
				<i class="fa fa-step-forward"></i>
			</button>
		</div>

		<div class="tile level" style="width:30%;">
			<button type="button" class="level-item button is-primary is-rounded" id="augment-final-button">Augment</button>
			<button type="button" class="level-item button is-danger is-rounded" id="reload-original">Load Original</button>
			<button type="button" class="level-item button is-info is-rounded" id="download-augment">
			<i class="fa fa-download"></i>
			Download</button>
		</div>
	</div>

</div>


{% endblock content %}


