{% extends "layout.html" %}
{% block content %}

<div class="column tile is-vertical">
	{% for name in names %}

		<div class="tile is-block">{{name}}</div>

		<div id={{"waveform-"~name}} class="tile is-block waveform m-5 p-3" name={{name}} dir={{dir}}></div>
		<div id={{"wave-timeline-"~name}} class="tile is-block m-5 p-3"></div>
		<div class="tile is-flex jty-ctr m-10 p-3">
			<input id={{"slider-"~name}} data-action="zoom" type="range" min="1" max="200" value="0"/>
		</div>

		<div class="tile columns is-centered">
			<button id={{"button-"~name}} class="button is-primary column is-3 is-block m-5 p-3 button-play-wave">
				<i class="glyphicon glyphicon-play"></i>
				Play
				/
				<i class="glyphicon glyphicon-pause"></i>
				Pause
			</button>

			<button id={{"button-stop-"~name}} class="button is-primary column is-3 is-block m-5 p-3 button-stop-wave">
				<i class="glyphicon glyphicon-stop"></i>
				Stop
			</button>
		</div>

		<form role="form" id={{"form-"~name}} class="augment-form">

			<!--
			<div class="field">
				<label for={{"start-"~name}}>Start</label>
				<input class="input" id={{"start-"~name}} name={{"start-"~name}} />
			</div>

			<div class="field">
				<label for={{"end-"~name}}>End</label>
				<input class="input" id={{"end-"~name}} name={{"end-"~name}} />
			</div>

			<div class="field augment-input" id={{"augment-input-"~name}}>
				{% for aug in augment %}
					{{ aug(class='augment-radio', id=aug.label.text~'-'~name) }}
					{{ aug.label }}
				{% endfor %}
			</div>

			<div class="augment-form augment-form-nest-input vol-input" id={{"augment-vol-input-"~name}}>
				<label for={{"vol-input-slider-"~name}}>Volume</label>
				<input id={{"vol-input-slider-"~name}} data-action="zoom" type="range" min="0" max="100" value="100" style="width: 50%"/>
			</div>

			<div class="augment-form augment-form-nest-input cop-input" id={{"augment-cop-input-"~name}}>
				<div class="field">
					<label for={{"cop-start-"~name}}>Copy Start</label>
					<input class="field" id={{"cop-start-"~name}} name={{"cop-start-"~name}} />
				</div>

				<button type="button" class="button is-info is-block cop-button" id={{"cop-button-"~name}}>Copy</button>
			</div>

			<button type="submit" class="button is-success is-block">Save</button>-->
			<div class="tile is-vertical jty-ctr">
				<nav class="tile level" style="width: 50%;">
					<div class="level-left">
						<div class="level-item">
							<div class="field has-addons">
								<p class="control subtitle is-5">Start</p>
								<div class="control">
									<input class="input" id={{"start-"~name}} name={{"start-"~name}} />
								</div>
								<p class="control subtitle is-5">End</p>
								<div class="control">
									<input class="input" id={{"end-"~name}} name={{"end-"~name}} />
								</div>
							</div>
						</div>
					</div>

					<div class="level-right">
						<div class="level-item">
							<div class="field has-addons augment-input" id={{"augment-input-"~name}}>
								{% for aug in augment %}
									<div class="control">
										<button type="button" class="button is-info augment-radio" id={{aug.label.text~'-'~name}}>
											{{ aug.label }}
										</button>
									</div>
								{% endfor %}
								<div class="control">
									<button type="button" class="button is-primary" id={{"add-command-"~name}}>Add</button>
								</div>

								<div class="control">
									<button type="submit" class="button is-success">Save</button>
								</div>
							</div>
						</div>
					</div>
				</nav>

				<div class="tile">
					<nav class="level augment-form augment-form-nest-input vol-input" id={{"augment-vol-input-"~name}}>
						<div class="control level-item">
							<input id={{"vol-input-slider-"~name}} data-action="zoom" type="range" min="0" max="100" value="100" style="width: 50%"/>
						</div>
					</nav>

					<nav class="level augment-form augment-form-nest-input cop-input" id={{"augment-cop-input-"~name}}>
						<div class="control level-item">
							<p class="subtitle is-5">Copy Start</p>
						</div>

						<div class="control level-item">
							<input class="field" id={{"cop-start-"~name}} name={{"cop-start-"~name}} />
						</div>

					</nav>
				</div>
			</div>
		</form>

	{% endfor %}

	<div class="tile columns is-centered">
		<button id="play-all" class="column button is-primary is-block is-3 m-5 p-3">
			<i class="glyphicon glyphicon-play"></i>
				Play All
				/
			<i class="glyphicon glyphicon-pause"></i>
				Pause All
		</button>

		<button id="stop-all" class="column button is-primary is-block is-3 m-5 p-3">
			<i class="glyphicon glyphicon-stop"></i>
				Stop All
		</button>

	</div>

	<div class="tile columns is-centered">
		<button type="button" class="column button is-primary is-block m-10 p-3 is-3" id="augment-final-button">Augment</button>
		<button type="button" class="column button is-danger is-block m-10 p-3 is-3" id="reload-original">Load Original</button>
	</div>

</div>


{% endblock content %}


